:root {
  font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  padding-top: 50px;
  justify-content: center;
  align-items: center;
  background: url('./public/bg-image.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 150px;
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
}

.main {
  display: flex;
  width: 100%;
  max-width: 810px;
  padding-bottom: 90px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main--content {
  max-width: 620px;
}

.main--content {
  color: #FFFFFF;
  text-align: center;
}

.main--content h1 {
  font-size: 4rem;
  margin-bottom: 8px;
}

.main--content p {
  font-size: 2rem;
  margin: 0 0 60px 0px;
}

.formulary {
  display: grid;
  width: 100%;
  padding: 30px;
  border-radius: 18px;
  grid-template-columns: 1fr 1fr;
  color: #FFFFFF;
  background-color: #CDD5E050;
}

.formulary label {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.875rem;
  font-weight: 600;
  margin: 8px;
}

.formulary label input {
  padding: 24px 25px;
  border-radius: 14px;
  outline: none;
  border: none;
  font-size: 0.90rem;
  font-weight: 600;
}

.formulary textarea {
  font-family: 'Be Vietnam Pro', Arial, Helvetica, sans-serif;
  height: 200px;
  padding: 20px 18px;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 14px;
  resize: none;
}

.formulary button {
  padding: 28px 0px;
  margin: 8px;
  border: none;
  border-radius: 14px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #4036A9;
  background: #FFFFFF;
  grid-column-start: 1;
  grid-column-end: 3;
  cursor: pointer;
}

.form--message {
  grid-column-start: 1;
  grid-column-end: 3;
}

.select-label select {
  width: 100%;
  padding: 24px 25px;
  border: none;
  border-radius: 14px;
  font-size: 1rem;
  font-weight: 600;
  background: #FFFFFF;
  color: #000;
}
